
# Компиляция / сборка
*.o
*.a
*.so
*.exe
*.out

# LaTeX / временные файлы
*.log
*.aux
*.toc
*.lof
*.lot
*.tmp

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo
*~

# Системные файлы
.DS_Store
Thumbs.db

# Временные папки
tmp/
temp/
